{{!< default}}

{{#post}}
  <article class="content-page">
    <div class="container narrow">
      {{#if @page.show_title_and_feature_image}}
        <header class="content-header">
          <h1>{{title}}</h1>
          {{#if custom_excerpt}}<p>{{custom_excerpt}}</p>{{/if}}
        </header>
        {{#if feature_image}}
          <img class="post-feature-image" src="{{img_url feature_image size="l"}}" alt="{{title}}">
        {{/if}}
      {{/if}}
      <div class="content-body">
        {{content}}
      </div>
    </div>
  </article>
{{/post}}
